<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eco Temp</h1>
    <hr>
    <p class="lead">Supporting the management of environmental temperature information for ecological studies. </p>
  </div>
</div>