<hr>
<div class="row">
  <div class="col-md-3">
    <% if project.sites.any? %>
    <%= image_tag  project.sites.first.image, alt: "Project Photo", class: 'rounded' 'img-fluid', width: 200 %>
    <% else %>
    <p>No Sites</p>
    <% end %>
  </div>
  <div class="col-md-9">
    <h3><%= link_to project.name, project, class: "text-dark" %></h3>
    <p><%= link_to project.description, project, class: "text-dark" %></p>
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
</div>