<p id="notice"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Projects</li>
  </ol>
</nav>
<h2>Projects</h2>

<%= render  @projects %>


<%= link_to 'New Project', new_project_path %>