<p id="notice"><%= notice %></p>

<h1>Add a Deployment</h1>

<p>
  <strong>Site:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>
    <%= render 'deployments/form', deployment: @site.deployments.build %>
  </strong>
</p>

<%= link_to 'Cancel', sites_path %>